.mt-45 {
    margin-top: 45px !important;
}

.mt--150 {
    margin-top: -150px;
}

.color-thema {
    color: #247eef !important;
}

.footer-primary {
    padding-top: 60px;
    padding-bottom: 40px;
}

.testimonial-item .testimonial-item__desc {
    font-size: 18px;
    line-height: 1.5;
}

.testimonials-layout1 .testimonial-item .testimonial-item__desc {
    margin-bottom: 60px;
}

.banner-layout4 {
    padding-bottom: 300px;
}

.logo {
    padding: 20px 0 0;
    display: block;
}

.logo img.logo-dark {
    height: 150px;
}

.navbar-nav {
    margin: 0 auto;
}

.navbar .nav__item .nav__item-link {
    padding: 0 10px;
}

.slider .slide-item__content {
    text-align: center;
    z-index: 9;
    position: relative;
}

.slide-item:after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: #00000052;
    display: block;
    z-index: 2;
}

.heading__subtitle {
    font-size: 26px;
    font-weight: 500;
}

.heading__title {
    font-size: 55px;
}

.slider .slide-item__desc {
    font-size: 23px;
    max-width: initial;
}

.service-item .btn {
    min-width: 190px;
    width: 190px;
}

.service-item:after {
    background-color: #247eef;
}

.services-layout2 .slick-dots li.slick-active {
    border-color: #247eef;
}

.bg-overlay-theme:before {
    background-color: #247eef;
}

.btn-whatsapp {
    position: fixed;
    right: 30px;
    bottom: 90px;
    width: 45px;
    height: 45px;
    line-height: 46px;
    opacity: 1;
    z-index: 1000;
    text-align: center;
    font-size: 22px;
    border-radius: 50%;
    color: #ffffff;
    background: #3adb76;
    border: 1px solid #29bf61;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn-whatsapp:hover {
    background-color: #29bf61;
    color: #FFF;
}

.subHeader {
    background: #28406c;
    padding: 8px 0;
    color: #FFF;
    font-size: 12px;
}

.subHeader i {
    color: #ff703e;
}

.subHeader a {
    color: #FFF
}

.subHeader a:hover {
    color: #ff703e;
}

.subHeader ul li {
    padding: 0 15px 0 0;
}

.headerContact {
    margin-top: 60px;
}

.headerContact h4 {
    color: #ff703e;
    font-size: 19px;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
}

.headerContact h3 {
    font-size: 25px;
    margin: 0;
}

.headerContact i {
    float: left;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #247eef;
    color: #FFF;
    font-size: 25px;
    border-radius: 100%;
}

@media screen and (max-width:767px) {
    .logo {
        text-align: center;
    }
    .subHeader ul li {
        padding: 0 0 10px 0;
    }
    .subHeader ul li:last-child {
        padding: 0;
    }
    .headerContact {
        margin-top: 10px;
    }
    .headerContact i {
        float: left;
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin: 5px 10px 0 0;
        font-size: 13px;
    }
    .headerContact h4 {
        font-size: 14px;
    }
    .headerContact h3 {
        font-size: 16px;
    }
}

#map-img {
    height: 620px;
    position: relative;
    overflow: hidden;
    background: url(/galerias/mapa_lavanderias.webp?1) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}